<html ng-app="Myapp">

<body ng-controller="alpha" id="bd">
<input type="hidden" id="hIP" ng-model="ip" >
 	<script src="sources/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>


<script type="text/javascript" src="build/pdf.js"></script>
	<script type="text/javascript" src="sources/fabric.js"></script>
 <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="sources/angular-material.min.css">
    <link rel="stylesheet" href="sources/global.css">
    <link rel="stylesheet" href="sources/ionicons.min.css">
    
    <script src="sources/angular.min.js" ></script>

   <script src="sources/angular-material.min.js"></script>
   <script src="sources/angular-animate.min.js"></script>
   <script src="sources/angular-aria-min.js"></script>
   <script src="sources/angular-messages.min.js"></script>
   
	<script src="sources/socket.io.js"></script>
    <style>
		.canvas-container { margin-top: 5px; margin-bottom: 10px; margin-left:  auto; margin-right: auto;
                    
                  }
	</style>
<script type="text/javascript">
	var socket = io('http://127.0.0.1:8888');
  socket.on('connect', function(){
	  console.log("Connected to socket!");
	  
	  
  });
  socket.on('event', function(data){
	  
  });
  socket.on('disconnect', function(){
	  	  console.log("Disconeected to socket!");
  });
	
	
	function update(id,data,h,w){
		
		
		socket.emit('update',{i:id,h: h, w:w, dt: data})
		console.log({i:id, dt: data});
		
	}
	var totalPages;
	var loaded = 0 ;
	
	
	
	
	
	function renderComplete(){
					console.log("ALL RENDERED!");
		
		
		
		
		
	}
	function setFabric(id,img){
		
		loaded++;
		if(loaded == totalPages){

			renderComplete();
			
		}
		
		var el = $("#"+id)
		var canvas = new fabric.Canvas(""+id,{isDrawingMode:true});
		
		document.getElementById(""+id).fabric = canvas;
		
	canvas.on("after:render",function(){
		//console.log(canvas.toJSON());
		console.log(JSON.stringify(canvas.toJSON()).length);
		
			
	
		update(id,canvas.toJSON(),canvas.height,canvas.width);
		
		
	})
	

// "add" rectangle onto canvas
		canvas.setBackgroundImage(img,canvas.renderAll.bind(canvas))
//canvas.add(rect);
		
		
	}
	
	
function renderPDF(url, canvasContainer, options) {
    var options = options || { scale: 1 };
        
    function renderPage(page) {
        var viewport = page.getViewport(options.scale);
        var canvas = document.createElement('canvas');
		console.log(page);
		canvas.setAttribute("id", page.pageIndex);
		//canvas.addClass("pdfcanvas");

        var ctx = canvas.getContext('2d');
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        
        canvas.height = viewport.height;
        canvas.width = viewport.width;
        canvasContainer.appendChild(canvas);
		//canvas.wrap("<md-card class='page'></md-card>");
        
       var pg = page.render(renderContext).promise.then(function(){
  console.log("done "+ page.pageIndex);
		   canvas.className += " page"
		 setFabric(page.pageIndex, canvas.toDataURL("image/PNG"));
		   
});
    }
    
    function renderPages(pdfDoc) {
		totalPages = pdfDoc.numPages;
		
        for(var num = 1; num <= pdfDoc.numPages; num++)
            pdfDoc.getPage(num).then(renderPage);
    }
    PDFJS.disableWorker = true;
    PDFJS.getDocument(url).then(renderPages);
}   
</script> 

<div   id="menubarContainer" ng-controller="menubarController as ctrl"
         layout="row" ng-cloak>
         <md-toolbar class = "md-menu-toolbar menushadow" >
            <div layout = "row">
               <div>
                  <h2 ng-controller="alpha" id="ipa" class = "md-toolbar-tools">{{ip}}</h2>
                  <md-menu-bar>
                     <md-menu>
                        <button ng-click = "$mdOpenMenu()">File</button>
                        <md-menu-content>
                           
                           <md-menu-item ng-controller="alpha">
                              <md-button ng-click = "openDoc()">Open</md-button>
                           </md-menu-item>   <md-menu-item>
                              <md-button ng-click = "ctrl.sampleAction('share', $event)">Save (PDF)</md-button>
                           </md-menu-item>
                           
                           <md-menu-divider></md-menu-divider>
                           <md-menu-item>
                              <md-menu>
                                 <md-button
                                    ng-click = "$mdOpenMenu()">Share </md-button>
                                 <md-menu-content>
                                    <md-menu-item>
                                       <md-button
                                       ng-click = "ctrl.sampleAction('HTML5', $event)">
                                       PDF</md-button>
                                    </md-menu-item>
                                    
                        </md-menu-content>
                     </md-menu>
							</md-menu-item>
						 </md-menu-content>
					  </md-menu> 
                       <!--
                       <md-menu ng-controller="alpha">
                        <button ng-click = "addPage()">New Page</button>
                        
                     </md-menu>
                     -->
							</md-menu-item>
						 </md-menu-content>
					  </md-menu>
                  </md-menu-bar>
               </div>
            </div>
            
            
            
            
         </md-toolbar>	 	
   
      </div>
		
<div >
            
           <md-slider-container ng-show="tool == 'pen'" >
      <span></span>
      Stroke:
      <md-slider   flex="" id="lineWidth" ng-model="stroke"  min="1" max="30" ng-change="updateStroke()" class="md-accent">
      </md-slider> 
      Color:
   <input type="color" value="#00000" ng-model="strokeColor" ng-change="updateColor()" id="colorEl">
					  </div>
	<div class="toolsmenu"> 
	
		      <md-button ng-click="setTool('hand')" class="md-icon-button " aria-label="HAND" >
        <md-icon md-svg-icon="sources/icons/android-hand.svg"></md-icon>
      </md-button>
		      <md-button ng-click="setTool('pen')" class="md-icon-button " aria-label="PEN">
        <md-icon md-svg-icon="sources/icons/edit.svg"></md-icon>
      </md-button>
	      <!--
		      <md-button ng-click="setTool('hand')" class="md-icon-button " aria-label="HAND">
        <md-icon md-svg-icon="sources/icons/android-hand.svg"></md-icon>
      </md-button>
-->
			
			
				</div>
<md-content class="page-container" style="overflow: scroll;
height:100%;">
 
<div style="text-align: center;" id="holder"></div>

	    
    <div id="beginScr" class="title" >
<div class="card">
		<div style="font-size: 5em;">
			Hello!
		</div>
   
   <br>
   
    To start, open a PDF document or start a new  from scratch. or join a board!
    
		<div>
			<md-button   ng-click="openDoc()" class="md-primary">Open Document</md-button>
			<md-button class="md-primary" ng-click="createNew()">Create new</md-button>
			<br>
		    <br><br><br>
		    <div style="font-size: 2em;">
			OR JOIN WITH CODE
		</div>
   
			    <md-input-container>
        <label>CODE</label>
        <input ng-model="code">
      </md-input-container>
      			<md-button class="md-primary" ng-click="connect()">Connect</md-button>

		</div>
   
   
    
    
	</div>
	
	
	
	
<script type="text/javascript">

//renderPDF('sample.pdf', document.getElementById('holder'));
	
</script>  

<script>
angular
            .module('Myapp', ['ngMaterial'])
.controller('alpha', function ($scope){
	
	$scope.code;
	
	
	$scope.connect = function(){
		console.log("Conect to " + $scope.code);
		var socket = io('http://'+$scope.code+':8888');
	
		socket.on('connect', function(){
	  console.log("Connected to socket!");
			openViewer($scope.code);

  
	 
	  
  });
	
		
		
		
	}

	
	
	$scope.addPage = function(){
	console.log("ADD new PAge");
		
	
		
	}
	
	$scope.ip = getIP();
	
	
	
	$scope.setIP = function(dip){
		$scope.ip  = dip;
		
	}
	
	$scope.createNew = function(){
		
		renderPDF('sample.pdf', document.getElementById('holder'));

	}
	$scope.Fn = "No Document"
	$scope.setFn = function(fn){
		$scope.Fn = fn;
		
 	}
	$scope.showBegin = true;
	
		$scope.stroke  = 2;
	$scope.color = "#000000";
	
	
	$scope.openDoc = function(){
		
		openDoc();
		
	}
	
	$scope.hideBegin = function(){
			$scope.showBegin = false;

	}
$scope.updateStroke = function(){
	
	console.log("Update Stroke " +  $scope.stroke);
	
	$("canvas").each(function(elem){
				console.log(elem);
			if (document.getElementById(elem).fabric){
				document.getElementById(elem).fabric.freeDrawingBrush.width  = $scope.stroke;
				
				
			}else{
				console.log("Not a fabric canvas");
			}
				
	})

	
}	
$scope.updateColor = function(){
	
	$scope.color = document.getElementById("colorEl").value;
	
	
	console.log("Update Stroke " +  $scope.color);
	
	$("canvas").each(function(elem){
				console.log(elem);
			if (document.getElementById(elem).fabric){
				document.getElementById(elem).fabric.freeDrawingBrush.color  = $scope.color;
				
				
			}else{
				console.log("Not a fabric canvas");
			}
				
	})

	
}
	

	$scope.tool = "hand";
	
	
	
	$scope.setTool = function(t){
		
		$scope.tool = t;
		console.log(t);
		console.log($scope.tool);
		
		
		
		if($scope.tool == 'hand'){
			
			$("canvas").each(function(elem){
				console.log(elem);
			if (document.getElementById(elem).fabric){
				document.getElementById(elem).fabric.isDrawingMode =false;
				
				
			}else{
				console.log("Not a fabric canvas");
			}
				

			})
			
		}
		if($scope.tool == 'pen'){
			
			$("canvas").each(function(elem){
				console.log(elem);
				
				if(document.getElementById(elem)){
					
				
			if (document.getElementById(elem).fabric){
				document.getElementById(elem).fabric.isDrawingMode = true;
				
				
			}else{
				console.log("Not a fabric canvas");
			}
				}

			})
			
		}
		
		
	}
	
	
	
})
            .controller('menubarController', menubarController);

         function menubarController ($scope, $mdDialog) {
            this.sampleAction = function(name, ev) {
               $mdDialog.show($mdDialog.alert()
                  .title(name)   
                  .textContent('Start learning "' + name + '!')
                  .ok('OK')
                  .targetEvent(ev)
               );
            };
         }      

	
	
	


  
	</script>
    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
	  
	  
	  const BrowserWindow = require('electron').remote.BrowserWindow
const path = require('path')

function openViewer(code){
  const modalPath = path.join('file://', __dirname, 'view.html?addr='+code)
 let win = new BrowserWindow({ width: 400, height: 320 })
  win.on('close', function () { win = null })
  win.loadURL(modalPath)
 win.webContents.executeJavaScript("begin('"+code+"')")
  win.show()
}

	  
	  
	  
	  
	  function getIP(){
	  require('dns').lookup(require('os').hostname(), function (err, add, fam) {
  console.log('addr: '+add);
		  document.getElementById("ipa").textContent = "Code: "+add;
		  
	  })}
		
							
		  
//angular.element(document.getElementById('hIP')).scope().setIP(add);		  
		  

	  
	   var remote = require('electron').remote; 

 var dialog = remote.require('electron').dialog; 

		 var fs = require('fs');

function openDoc () {

	
 dialog.showOpenDialog({ filters: [

   { name: 'PDF', extensions: ['pdf'] }

  ]}, function (fileNames) {

  if (fileNames === undefined) return;

  var fileName = fileNames[0];

  fs.readFile(fileName, 'utf-8', function (err, data) {

console.log(fileName);
  	
var myNode = document.getElementById("holder");
myNode.innerHTML = '';
	  document.getElementById("beginScr").remove()
	  
	  
	  
	 
	  
renderPDF(fileName, document.getElementById('holder'));
//angular.element(document.getElementById('yourControllerElementID')).scope().setFn(fileName);


	  
	  
  });

 }); 

}

	  
	  
	  
    </script>
    
	</md-content>
</body>
</html>